html {
    font-size: 14px;
    background-color: #E7F9E9;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}
html, body, #page-one, #page-two, #page-three, #page-four {
    height: auto;
    min-height: 100vh;
}

#page-one, #page-two, #page-three, #page-four {
    padding-top: 5em;
}

#mainNav {
    background-color: white;
    color: #ddd;
    line-height: 4em;
    padding: 0 1em;
    position: fixed;
    top: 0em;
    width: 100%;
    text-decoration: none;
}


