@{
    ViewData["Title"] = "Home Page";
}

 <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    .parallax, body {
    background-image: url('house.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

</style>
</head>
<div id="page-one">
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <h1>Jadewell Limited</h1>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap" rel="stylesheet">
</div>
<div id="page-slogan">
    <br />
    <h2>We build our homes with love</h2>
</div>
<div id="page-two">
  <h3>About us</h3> <br />
  <h4>Who we are</h4>
   <div class="container">
        <div class="row">   
            <div class="col-lg-8 col-md-9 col-sm-12">
                <h5>We are a family business consisting of brothers, sister, and family friends. We are all part of families ourselves and all specialise in different parts of the process required for building a hosue from scratch. We have a real estate agent for you to pick your desired property, architects to design your dream home, and builders to bring your dream home from paper to reality. We work earnestly and customer satifaction is our top priority. We hope that this website may clear any questions you have for us, and if not, feel free to contact us via any methods as shown at the bottom of this page.</h5>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-12">
        <img src="~/woman.jpg" class="center" height="250" width="250" style="border-radius: 50%"/>
        </div>
  </div>
 </div> <br />
  <h4>Why we started</h4>
  <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h5>We started because we believed that there should be an easier way to streamline line the entire house building process, rather than having to find seperate companies and people at every step of the way. We also wanted to create a company that's more accessible to the many kiwi asians and fellow Chinese citizens in New Zealand trying to buy a house, that might not be so fluent in English. As each of us are already involoved in the housing and marketing field, we thought that it would be beneficial if we worked together as a company to better help others, rather than individually at our usual jobs.</h5>
        </div>
  </div>
 </div> <br />
  <h4>Our aim for the future</h4>
  <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5 col-sm-12">
        <img src="~/handshake.jpg" class="center" height="250" width="250" style="border-radius: 50%"/>
        </div>
            <div class="col-lg-8 col-md-7 col-sm-12">
                <h5>We aim to expand the housing market in New Zealand and continue to help build high quality and affordable homes for everyone who decides to buy a house in New Zealand. We hope to be able to fill the streets with not only houses but homes, and contribute to the economy. We hope that in the future we can expand our company to build houses that are out of Auckland, and be able to gather more staff so that we can work on even more projects and houses at any given time. We also hope that by building more houses and providing residence we can decrease the amount of homelessness that occurs in New Zealand as that's quite a bit national problem, likely due to the extremely high housing prices.</h5>
        </div>
  </div>
 </div>
 
</div>
<div id="page-three">
  <h3>Projects</h3> <br />
  <div class="container">
        <div class="row">
            <h4 class="text-uppercase font-weight-bold">North Shore modern house</h4> 
            <div class="col-lg-6 col-md-6 col-sm-12">
            <h5> <br/> <strong>Address:</strong> 14 Random Street, North Shore
            <br/><strong>Bedrooms:</strong> 5
            <br/><strong>Bathrooms:</strong> 4
            <br/><strong>Carparks:</strong> 2
            <br/><strong>Sold for:</strong> $3.5 million <br />
            <br/><strong>Description:</strong> A clean, modern house with a square build, chic pool included outside along with an amazing view. Large windows and spacious rooms allow for a well lit environment and plenty of space for interior decorating. Balconies allow for easy access to the view and theres access to the roof area for better sight seeing.</h5>  
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12"> <br />
        <img src="~/modern house.jpg" class="center" height="400" width="400"/>
        </div>
  </div>
 </div>
 <br />
  <div class="container">
        <div class="row">
            <h4 class="text-uppercase font-weight-bold">Albany residence</h4> 
            <div class="col-lg-6 col-md-8 col-sm-12"> <br />
        <img src="~/residence house.jpg" class="center" height="400" width="400"/>
        </div>
            <div class="col-lg-6 col-md-4 col-sm-12">      
            <h5> <br/> <strong>Address:</strong> 28 This Street, Albany
            <br/><strong>Bedrooms:</strong> 4
            <br/><strong>Bathrooms:</strong> 3
            <br/><strong>Carparks:</strong> 3
            <br/><strong>Sold for:</strong> $3.1 million <br />
            <br/><strong>Description:</strong> A cosy large modern family house, big enough to accomodate for all family sizes and was perfect for our client as they had a large family of 5. Huge garage space to allow for parking of plenty of vehicles or even storage. large windows allow for natural lighting small front garden allows for some floral decoratives. Marble driveway adds for a chic twist, rather than the usual concrete.</h5>  
        </div>
 </div>
 </div>
 <br />
 <div class="container">
        <div class="row"> 
            <h4 class="text-uppercase font-weight-bold">Remuera dwelling</h4> 
            <div class="col-lg-6 col-md-6 col-sm-12">
            <h5> <br/> <strong>Address:</strong> 5 That Street, Remuera
            <br/><strong>Bedrooms:</strong> 4
            <br/><strong>Bathrooms:</strong> 2
            <br/><strong>Carparks:</strong> 2
            <br/><strong>Sold for:</strong> 2.4 million <br />
            <br/><strong>Description:</strong> A simple yet nostalgic traditional house. Attic available for extra storage or perhaps a small bedroom. Simple yet elegant design allows accomodation for a cosy home and plenty of play space for younger children outside due to the large spacious front yard, perfect for our client that has younger children. Also allows for outdoor parking, even though there's already a garage.</h5>       
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12"> <br />
        <img src="house 1.jpeg" class="center" height="400" width="400"/>
        </div>
  </div>
 </div>
</div>

<div id="page-four">
  <h3>Request project</h3> <br />
  <h4>Why you should request us</h4>
  <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h5>We are your friendly local niehgbours, and we are very keen to help you find your perfect home. We are all extremely skilled and knowledge in our own respective fields, and we will work hard to get the best prices for the highest quality homes. We believe in modern housing designs and utilize all the latest skills and designs to build a strong functional house. From a patch of grass, to a foundation, to the frames and finally the house, we wil assist you in every step of the way in this usually tought and complicated process.</h5>
        </div>
  </div>
 </div>
 <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <img src="~/group photo.jpg" class="center" height="350" width="500" style="max-width:95%;border:6px ridge ##BDF1C3;"/>
        </div>
  </div>
 </div> <br />
 <h4>How we can help you</h4>
  <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h5>We offer consultations to help you decide what your ideal home should be, from how big your family is, the ideal location of your housing, your price point and budget, to whether you have pets, the space requirements for your house, and your desired athesthetic, we provide adivce and service for everthing. So don't be afraid to request for a consultation or porject now!</h5>
        </div>
  </div>
 </div>
  <html>
<style>
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: rgba(0, 0, 0, 0.5);
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  text-align: center;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 70%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
</style>
<body>
<div style="text-align:center;">
<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Request project</button>
</div>
<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
  <form class="modal-content" action="/action_page.php">
    <div class="container">
      <h3>Request project</h3>
      <p>Please fill in this form to request for a project.</p>
      <hr>
      <label for="email"><b>Your email or phone number</b></label>
      <input type="text" placeholder="Enter email or phone number" name="email" required>

      <label for="house"><b>Project request description</b></label>
      <input type="text" placeholder="Enter project description" name="house" required>

      <label for="location"><b>Location of desired housing</b></label>
      <input type="text" placeholder="Enter Location" name="location" required>

      <p>By requesting for a project you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

      <div class="clearfix">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn">Request project</button>
      </div>
    </div>
  </form>
</div>

<script>
var modal = document.getElementById('id01');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</body>
</html>
<br /><br /><br />
</div>
<div id="page-five">
    <br /> <br />
      <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-4 col-sm-7">
                <h4 class="text-uppercase font-weight-bold">Contact us</h4>
            <p> <br/> <strong>Email:</strong> Jadewell@gmail.com
            <br/><strong>Phone number:</strong> +0800 83 83 83
            <br/><strong>facebook:</strong> Jadewell_Limited </p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-5">
                <h4 class="text-uppercase font-weight-bold">Address</h4>
        <p> <br/>Lynn mall
            <br/>New Lynn
            <br/>Auckland
            <br/>0600
        </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="d-flex justify-content-between">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3190.276751874438!2d174.68380371602726!3d-36.90764689051098!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0d414c32867793%3A0x18be38d5516ea6c1!2sLynnMall!5e0!3m2!1sen!2snz!4v1648154751873!5m2!1sen!2snz" 
    width="400" height="300" allowfullscreen="yes" loading="lazy" referrerpolicy="no-referrer-when-downgrade" ></iframe>   
  </div>
 </div>
</div>
</div>
</div>


 



