@{
    ViewData["Title"] = "Home Page";
}

 <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    .parallax, body {
    background-image: url('house.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

</style>
</head>
<div id="page-one">
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <h1>Jadewell Limited</h1>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap" rel="stylesheet">
</div>
<div id="page-slogan">
    <br />
    <h2>insert slogan here: blah blah blah</h2>
</div>
<div id="page-two">
  <h3>About us</h3> <br />
   <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <h4>Who we are</h4>
            <h5> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </h5>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
        <img src="~/woman.jpg" class="img-center" height="250" width="250" style="border-radius: 50%"/>
        </div>
  </div>
 </div>
  <h4>Why we started</h4>
  <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </h5>
        </div>
  </div>
 </div>
  <h4>Our aim for the future</h4>
  <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
        <img src="~/woman.jpg" class="img-center" height="250" width="250" style="border-radius: 50%"/>
        </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5>
        </div>
  </div>
 </div>
  <h4>How we can help you</h4>
  <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5>
        </div>
  </div>
 </div>
</div>
<div id="page-three">
  <h3>Projects</h3> <br /><br />
  <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h4 class="text-uppercase font-weight-bold">North Shore modern house</h4>
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </h5>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
        <img src="~/modern house.jpg" class="img-center" height="500" width="500"/>
        </div>
  </div>
 </div>
 <br />
  <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
        <img src="~/residence house.jpg" class="img-center" height="500" width="500"/>
        </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h4 class="text-uppercase font-weight-bold">Albany residence</h4>
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5>
  </div>
 </div>
 </div>
 <br />
 <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h4 class="text-uppercase font-weight-bold">Remuera dwelling</h4>
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
        <img src="house 1.jpeg" class="img-center" height="500" width="500"/>
        </div>
  </div>
 </div>
</div>

<div id="page-four">
  <h3>Request project</h3> <br />
  <h4>Why you should request us</h4>
  <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5>
        </div>
  </div>
 </div>
  <html>
<style>
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: rgba(0, 0, 0, 0.5);
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 70%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
</style>
<body>

<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Request project</button>

<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
  <form class="modal-content" action="/action_page.php">
    <div class="container">
      <h3>Request project</h3>
      <p>Please fill in this form to request for a project.</p>
      <hr>
      <label for="email"><b>Your email or phone number</b></label>
      <input type="text" placeholder="Enter email or phone number" name="email" required>

      <label for="psw"><b>Project request description</b></label>
      <input type="password" placeholder="Enter project description" name="psw" required>

      <label for="psw-repeat"><b>Location of desired housing</b></label>
      <input type="password" placeholder="Enter Location" name="psw-repeat" required>

      <p>By requesting for a project you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

      <div class="clearfix">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn">Request project</button>
      </div>
    </div>
  </form>
</div>

<script>
var modal = document.getElementById('id01');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</body>
</html>

</div>
<div id="page-five">
    <br /> <br />
      <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-4 col-sm-7">
                <h4 class="text-uppercase font-weight-bold">Contact us</h4>
            <p> <br/> <strong>Email:</strong> Jadewell@gmail.com
            <br/><strong>Phone number:</strong> +0800 83 83 83
            <br/><strong>facebook:</strong> Jadewell_Limited </p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-5">
                <h4 class="text-uppercase font-weight-bold">Address</h4>
        <p> <br/>Lynn mall
            <br/>New Lynn
            <br/>Auckland
            <br/>0600
        </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="d-flex justify-content-between">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3190.276751874438!2d174.68380371602726!3d-36.90764689051098!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0d414c32867793%3A0x18be38d5516ea6c1!2sLynnMall!5e0!3m2!1sen!2snz!4v1648154751873!5m2!1sen!2snz" 
    width="400" height="300" allowfullscreen="yes" loading="lazy" referrerpolicy="no-referrer-when-downgrade" ></iframe>   
  </div>
 </div>
</div>
</div>
</div>

 



